.new-task-form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input > label {
  font-size: 12px;
  font-weight: bold;
}

.form-input > input {
  height: 32px;
  outline-color: purple;
  padding-left: 6px;
}

.form-submit {
  height: 38px;
  padding: 12px 12px;
  background-color: #2196f3;
  border-style: none;
  color: white;
  cursor: pointer;
  border-radius: 2px;
}
